canvas {
    background:#000;
    cursor:crosshair;
}

.buttons {
    display: flex;
    justify-content: space-between;
  }

.container {
    display: flex;
    justify-content: space-between;
    width:50%;
}

.buttonsStyle {
    width: 50%;
    height: 100px;

}