

.leftSideCanvas {
  background:#000;
  cursor:crosshair;
}

.rightSideCanvas {
background: #fff;
cursor:crosshair;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.allButtons {
  cursor:pointer;
}

.container {
  display: flex;
  justify-content: space-between;
  width:50%;
}

.buttonsStyle {
  width: 50%;
  height: 100px;

}


/* Split the screen in half */
.split {
  height: auto;
  
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  /*overflow-y: hidden;*/
  /*padding-top: 20px;*/
}

/* Control the left side */
.left {
  left: 0;
  width: 70%;
}

/* Control the right side */
.right {
  right: 0;
  width: 30%;    
  height:100%;
  overflow-y: hidden;
}



 /* Pacer Box */

 .pacemakerGraphic {
  /*
  height: 68vmin;
  width: 29vmin;
  */
  position: relative;
  aspect-ratio: 3/7;
  min-height: 0;
  max-height: 95%;
  margin-left: 1%;
  margin-right: 2%;
  margin-left: 1%;
  touch-action: none;
  padding-bottom: 10%;
 }

 .wholeBox  {
  border-radius: min(2vw, 30px);
  position:relative;
  /*aspect-ratio: 3/7;*/
  background-color:#34422f;
  padding-left: 10%;
  padding-bottom: 10%;
  touch-action: none;
 }
 
 .topButtons {
  position: relative;
  /* width: 100%; */
  height: 7%;
  display: flex;
  justify-content: space-between;
  padding-left: 10%;
  margin-right: 15%;
 }

 .topHalf {
  display: flex;
  position:relative;
  height: 50%;
 } 

 .topScreen {
  position:relative;
  width: 70%;
  height: 100%;
  background-color:#548654;
 }

 .activityLightsDiv {
  height: 8%;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  font-size: 100%;

}

.activityLightsImgs {
  height: 100%;
}


.spacer {
  width: 10%;
}

 .topScreenRows {
  display:flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 80%;
 }

 .topScreenRow {
  height: 25%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
 }

 .meter {
   width:50%;
   color: #548654
 }

 .meterLabels {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
    align-content: flex-start;
    font-size: 70%;
    padding-left: 10%;
    padding-right: 10%;
 }

 .meterSVG {
  height: 100%;
 }


 .rightSide {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 50%;
 }

 .rightLabel {
  white-space: nowrap;

 }

 .numMeter {
  font-size: 250%;
 }

 .modeIndicatorRow {
  height: 12%;
  display: flex;
  justify-content: space-evenly;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;

  align-items: flex-end;
  font-size: 180%;
 }

.batteryDiv {
  width: 30%;
  display: flex;
  align-self: center;
}
.lockIndicatorDiv {
  width: 30%;
    display: flex;
    align-self: center;
}

.lockIndicatorImg {
  width: 100%;
}
 
 .topRightSide {
  position: static;
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
 }

 .topKnobs {
  position: static;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  
 }

.topKnobsBlank {
  height:10%;
}

.lockButton {
  width: 100%;
  display: flex;
  justify-content: center;
}

.topButtonImgs {
  height: 100%;
}

.rightSideButtonImgs {
  width: 100%;
}

 .bottomHalf {
  display: flex;
  height: 40%;
 }
 
 .screenSpacer {
  height:3%;
 }
 .bottomScreen {
  width:70%;
  height:100%;
  background-color:#548654;
 }

.bottomKnobs {
  width:30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
 
.modeTitle {
  display: flex;
  justify-content: center;
}

.modeContent {
  height: 70%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* border-bottom-style: dotted; */
  border-width: clamp(0px, 0.2vh, 0.3vw);

}

.mainContent {
  height: 80%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /*border-bottom-style: dotted;*/
  border-width: clamp(0px, .2vh, .3vw)  
}


.row {
  display: flex;
  border: solid transparent;
  border-width: clamp(0px, .2vh, .3vw);
  align-items: center;
  height: 10%;
}

.barRow {
  display: flex;
  border: solid transparent;
  border-width: clamp(0px, .2vh, .3vw);
  flex-direction: column;
  height: 14%;
}

.labelRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50%;
}

.modeRadio {
  width: 10%;
  padding-right: 10%;
}

.modeScreen {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

.mainScreen {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  justify-content: space-evenly;
}

.modeName {
  width: 60%
}

.bottomRows {
  display: flex;
  border: solid transparent;
  border-width: clamp(0px, .2vh, .3vw);
  align-items: center;
  justify-content: space-between;
  /*height:10%;*/
  height: 50%;
}

.bottomRowsSection {
  border-width: clamp(0px, 0.2vh, 0.3vw);
  border-top-style: dotted;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 20%;
}

.rowSelected {
  border: solid;
  border-width: clamp(0px, .2vh, .3vw);
  font-weight: bold;
}

.meterBar {
  width: 100%;
  height:100%
}

.bar {
  height: 50%;
}

.topScreenHide {
  flex-direction: column;
  justify-content: space-between;
  background-color:#85d385;
  height: 100%;
  width: 100%;
}

.bottomScreenHide {
  background-color:#85d385;
    /* height: 100%; */
    /* width: 100%; */

}

.knobClass {
  cursor:grab;
  padding:3%;
}



.arrow {
  height: 100%; 
  display: contents;
}

.arrowImg {
  height: 100%;
}

.textBoxes {
  display:block;
}

.mainDiv {
  display: flex;
  height: 100%;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.lockScreenInner {
    /* display: flex; */
    width: 50%;
    /* flex-wrap: nowrap; */
    /* flex-direction: column; */
    /* align-items: center; */
    align-self: center;
    text-align: center;
}

.pauseScreenInner {
      /* display: flex; */
      width: 75%;
      /* flex-wrap: nowrap; */
      /* flex-direction: column; */
      /* align-items: center; */
      align-self: center;
      text-align: center;

}

.lockScreenWrap {
  height: 100%;
  border-width: thick;
  border-style: solid;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.lockScreenIcon {
  width: 60%;
}

.RAPscreen {
  text-align: center;
  height: 100%;
  display: flex;
  flex-direction: column;
  /* align-content: space-between; */
  justify-content: space-between;
}

.RAPscreenDark {
background-color: #000;
color:#fff
}

.grabbed {
  cursor:grabbing;
}

/* Media queries */

@media screen and (max-width: 480px) {
  .mainDiv {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-between;
    height: auto;
    width: 100%;
  }
  .split {
    position: relative;
  }
  .textBoxes {
    display:none;
  }
  .right {
    display: flex;
    justify-content: center;
    padding-right: 1%;
    /* height: 100%; */
    /* min-height: 600px; */
    width: 100%;
    height: 2vh;
    -webkit-touch-callout: none;
    min-height: 600px;
    resize:both;
    overflow: auto;
  }
  .left {
    width:100%
  }
  .pacemakerGraphic {
    /*
    height: min(65vh,95%);
    width: 30vh;
    */
    aspect-ratio: 3/7;
    height: 100%;
    font-size: 1em;
   }
   .wholeBox  {
    border-radius: min(3vh, 30px);
   }


  .checkboxStuff {
    display: none;
  }

}